.butang-masuk {
    background-color: #000000;
    color: white;
    font-size: 15px;
    border-radius: 8px;
}

.organisasi {
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
}

.kata-laluan {
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
}