.butang-masuk {
    height: 40px;
    width: 200px;
    background-color: #000000;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}

.organisasi {
    margin: 8px 0;
    height: 20px;
    width: 200px;
    padding: 20px 20px;
    box-sizing: border-box;
}

.kata-laluan {
    margin: 8px 0;
    height: 20px;
    width: 200px;
    padding: 20px 20px;
    box-sizing: border-box;
}